---
title: About & Contact
date: '2025-12-13'
summary: this should be it's own page
---

## Contact: dkasabovn #at# gmail |dot| com

#### Favorite

Songs (In no order):
- If I Was A Folkstar - The Avalanches
- Literally anything by LeMair (once his bum ass activates his Spotify account again)
- Losing My Religion - R.E.M.
- Three - Cult Member
- The American Experiment - MGNA Crrrta
- I'm In Love - Ginoli
- Marechia - Nu Genea
- Что такое осень - DDT
- A Beginners's Guide to Destroying the Moon - Foster the People
- drive ME crazy! - Lil Yachty
- Dreams - Fleetwood Mac
- On Form - Burna Boy
- New Beat - Toro y Moi

Foods:
- Red Caviar on Toast With Butter
- Papaya Salad (w/ 5-6 chilis)
- Smoked Herring, Potatoes, and Green Onions
- A whole chicken from Central Market in ATX
- Red Bean Sesame Balls from Mei Lai Wah
- Anything prepared by my lovely roommate for me
- Chongqing Laziji (Specifically when eaten with <a href="https://www.linkedin.com/in/alex-huang-utaustin/" target="_blank">Alex Huang</a>)
- A bag of Takis after 10:00 PM when I shouldn't
- NOT HYUN NYC. DO NOT GO TO HYUN. A5 IS NOT GOOD.

Quote:
> "the [drug] addict is just as tantalized by the spoon as he is the [drug]" - Some Random Twitter User

Movie / Book / Show:
> Pusher / Brothers Karamazov / Tatami Galaxy

Languages:
> R\*st & C++ (specifically Variadic templates)

Animal:
> Seal (undisputable)

Thing to hate on:
> Twitter tech larpers

Game:
> League of Legends :P
