---
title: About & Contact
date: '2025-12-13'
summary: this should be it's own page
---

## Contact: dkasabovn #at# gmail |dot| com

#### Favorite

Songs (In no order):
- If I Was A Folkstar - The Avalanches
- Skull Crusher - LeMair
- Losing My Religion - R.E.M.
- Three - Cult Member
- The American Experiment - MGNA Crrrta
- I'm In Love - Ginoli
- Marechia - Nu Genea
- Что такое осень - DDT
- A Beginners's Guide to Destroying the Moon - Foster the People
- drive ME crazy! - Lil Yachty
- Dreams - Fleetwood Mac
- On Form - Burna Boy
- New Beat - Toro y Moi

Foods:
- Red Caviar on Toast With Butter
- Smoked Herring, Potatoes, and Green Onions
- Il Borgo, SF

Quote:
> "the [drug] addict is just as tantalized by the spoon as he is the [drug]" - Some Random Twitter User

Movie / Book:
> Trainspotting / Brothers Karamazov 

Languages:
> C++ & Rust & Haskell

Thing to hate on:
> Twitter tech larpers

Game:
> League of Legends :P
